.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.blog{
    display: flex;
    width: 90vw;
    align-items: center;
    flex-direction: column;
}

.subtitle{
    font-family: UniNeueRegular;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #CCCCCC;
    margin-top: 60px;
}

.title h1{
    font-family: UniNeueBold;
    color: #55C595;
    margin: 10px 0;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

.blogWall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_post{
    display: flex;
    flex-direction: column;
    width: 21vw;
    margin-bottom: 5vh;
}

.post_img img{
    display: flex;
    width: 100%;

}

.postTitle{
    font-family: UniNeueBold;
    font-size: 24px;
}

.description{
    font-family: UniNeueRegular;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
}

.date{
    font-family: UniNeueRegular;
    color: #CCCCCC;
    font-family: 15px;
}

