.container {
	background: rgba(89,200,149,1);
	background: linear-gradient(90deg, rgba(89,200,149,1) 0%, rgba(125,228,149,1) 100%);
	height: 76px;
	border-radius: 40px;
	cursor: pointer;
	margin-top: 60px;
}

.container:hover {
	background: rgba(89,200,149,.9);
	background: linear-gradient(90deg, rgba(89,200,149,.9) 0%, rgba(125,228,149,.9) 100%);
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.text {
	font-family: UniNeueRegular;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.1em;
	font-size: 18px;
}