.borrowerCalculator{
    display: flex;
    flex-direction: row;
}

.leftBlock{
    position: relative;
    width: 60vw;
    background-color: #215273;
}

.leftBlock img{
    height: 519px;
    margin: 40px 0;
}

.leftBlockText{
    position: absolute;
    font-family: UniNeueBold;
    font-size: 120px;
    color: #ffffff;
    width: 60%;
    line-height: 90%;
    top:100px;
    left: 280px;
}

.calculator{
    width: 40vw;
}

input{
    display: flex;
}

/**/

@media only screen and (max-width : 1750px) {
    .leftBlockText {
        font-size: 100px;
    }
}


@media only screen and (max-width : 1650px) {
    .leftBlockText {
        font-size: 100px;
        left:200px;
    }
}

@media only screen and (max-width : 1400px) {
    .leftBlockText {
        font-size: 50px;
        left:150px;
    }

    .leftBlock img{
        height: 30vh;
    }
}

@media only screen and (max-width : 1200px) {

    .leftBlockText{
        font-size: 350%;
        top:80px;
        left: 200px;
    }

    .leftBlock img{
        height: 30vh;
    }

}


@media only screen and (max-width : 980px) {
    .leftBlockText{

        left: 70px;
    }
}

@media only screen and (max-width : 740px) {

    .leftBlock img{
        height: 20vh;
    }

    .leftBlockText{
        font-size: 50px;
        top:50px;
        left: 50px;
    }

}

@media only screen and (max-width : 600px) {
    .borrowerCalculator{
        flex-direction: column;
    }

    .leftBlock{
        width: 100vw;
    }


    .calculator{
        width: 100vw;
    }

}