.container{
    display: flex;
    background: #215273;
}

.lostPassword{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 80px auto;
    background: #FFFFFF;
    padding-bottom: 80px;
    font-family: UniNeueRegular;
}

.pageTitle{
    margin-top: 60px;
    font-family: UniNeueBold;
    display: flex;

    justify-content: center;
}

.pageTitle h1{
    margin: 0;
    color: #55C595;
    font-size: 50px;
}

.restoreBtn{
    color: #215273;
    font-size: 18px;
    font-family: UniNeueBold;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px;
}
.rememberedBtn{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #CCCCCC;
}

.rememberedBtn a{
    text-decoration: none;
    color: #55C595;
}

@media only screen and (max-width : 1350px) {
    .pageTitle h1{
        font-size: 35px;
    }
}

@media only screen and (max-width : 950px) {
    .lostPassword{
        width: 90vw;
    }
    .pageTitle h1{
        font-size: 28px;
    }
}