.credit-form {
	max-width: 80%;
	margin: 0 auto;
	font-family: UniNeueRegular;
}

.credit-computed {
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
	font-family: UniNeueRegular;
}